In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-01-27 23:44:31,42.6001,-73.9662,23.67,57,92,4.52
1,1,Hermanus,ZA,2022-01-27 23:45:58,-34.4187,19.2345,65.80,80,12,2.93
2,2,Peniche,PT,2022-01-27 23:45:59,39.3558,-9.3811,54.88,62,1,10.47
3,3,Maceio,BR,2022-01-27 23:44:21,-9.6658,-35.7353,80.04,89,20,4.61
4,4,Saint-Paul,RE,2022-01-27 23:45:59,-21.0096,55.2707,73.51,78,30,2.24

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# need to continue on middle of 6.5.2 where dissipation is in #1 

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Maceio,BR,2022-01-27 23:44:21,-9.6658,-35.7353,80.04,89,20,4.61
12,12,Arraial Do Cabo,BR,2022-01-27 23:46:01,-22.9661,-42.0278,80.56,73,0,8.05
13,13,Rikitea,PF,2022-01-27 23:46:01,-23.1203,-134.9692,78.73,75,84,17.45
14,14,Grand Gaube,MU,2022-01-27 23:46:02,-20.0064,57.6608,75.60,74,37,5.01
19,19,San Carlos De Bariloche,AR,2022-01-27 23:46:04,-41.1456,-71.3082,83.95,24,20,5.75
20,20,New Norfolk,AU,2022-01-27 23:46:05,-42.7826,147.0587,88.66,44,44,1.99
23,23,Dicabisagan,PH,2022-01-27 23:46:05,17.0818,122.4157,77.50,86,57,2.15
25,25,Dicamay,PH,2022-01-27 23:46:06,16.7561,122.0037,75.60,81,18,0.83
27,27,Wawa,NG,2022-01-27 23:46:07,9.9022,4.4192,75.40,24,2,6.87
31,31,Hithadhoo,MV,2022-01-27 23:46:08,-0.6000,73.0833,81.07,69,99,14.20

In [14]:
preferred_cities_df.notnull().sum()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                       City Country  Max Temp      Lat       Lng Hotel Name
3                    Maceio      BR     80.04  -9.6658  -35.7353
12          Arraial Do Cabo      BR     80.56 -22.9661  -42.0278
13                  Rikitea      PF     78.73 -23.1203 -134.9692
14              Grand Gaube      MU     75.60 -20.0064   57.6608
19  San Carlos De Bariloche      AR     83.95 -41.1456  -71.3082
20              New Norfolk      AU     88.66 -42.7826  147.0587
23              Dicabisagan      PH     77.50  17.0818  122.4157
25                  Dicamay      PH     75.60  16.7561  122.0037
27                     Wawa      NG     75.40   9.9022    4.4192
31                Hithadhoo      MV     81.07  -0.6000   73.0833

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Maceio,BR,80.04,-9.6658,-35.7353,Poutur Pousada
12,Arraial Do Cabo,BR,80.56,-22.9661,-42.0278,Pousada Porto Praia
13,Rikitea,PF,78.73,-23.1203,-134.9692,People ThankYou
14,Grand Gaube,MU,75.60,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
19,San Carlos De Bariloche,AR,83.95,-41.1456,-71.3082,Hotel Patagonia
...,...,...,...,...,...,...
549,Neiafu,TO,83.79,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
550,Itaporanga,BR,75.16,-7.3044,-38.1503,Hotel Rainha do Vale
551,Calabozo,VE,85.37,8.9242,-67.4293,Hotel Giardini
554,Bac Lieu,VN,75.99,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
564,Hervey Bay,AU,86.04,-25.2986,152.8535,Shelly Bay Resort

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]