## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,16,Liverpool,GB,53.29,overcast clouds,53.4106,-2.9779,Premier Inn Liverpool City Centre (Moorfields)...
1,95,Brownsville,US,53.10,overcast clouds,25.9018,-97.4975,University Inn & Suites
2,138,Alexandria,EG,51.76,scattered clouds,31.2156,29.9553,Royal Crown Hotel
3,149,Skibbereen,IE,51.60,overcast clouds,51.5500,-9.2667,The West Cork Hotel
4,155,Ayr,GB,52.32,overcast clouds,55.4627,-4.6339,Mercure Ayr Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]


# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == "Livingston"]
vacation_end = vacation_df.loc[vacation_df.City == "Livingston"]
vacation_stop1 = vacation_df.loc[vacation_df.City == "Ayr"]
vacation_stop2 = vacation_df.loc[vacation_df.City == "Liverpool"] 
vacation_stop3 = vacation_df.loc[vacation_df.City == "Bridlington"] 

vacation_start
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,490,Livingston,GB,52.12,overcast clouds,55.9029,-3.5226,"Premier Inn Livingston (M8, Jct3) hotel"

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.



start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

start

(55.9029, -3.5226)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

#import gmaps-already have this in step 1
import gmaps.datasets
#gmaps.configure(api_key='AIza...')-already have this included in step 1

# Latitude-longitude pairs-already in step 6
#geneva = (46.2, 6.1)-already in step 6
#montreux = (46.4, 6.9)-already in step 6
#zurich = (47.4, 8.5)-already in step 6

fig = gmaps.figure()
round_trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,490,Livingston,GB,52.12,overcast clouds,55.9029,-3.5226,"Premier Inn Livingston (M8, Jct3) hotel"
1,155,Ayr,GB,52.32,overcast clouds,55.4627,-4.6339,Mercure Ayr Hotel
2,16,Liverpool,GB,53.29,overcast clouds,53.4106,-2.9779,Premier Inn Liverpool City Centre (Moorfields)...
3,545,Bridlington,GB,51.69,few clouds,54.0831,-0.1919,Expanse Bridlington Seafront Hotel
4,490,Livingston,GB,52.12,overcast clouds,55.9029,-3.5226,"Premier Inn Livingston (M8, Jct3) hotel"

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
#hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
#locations = itinerary_df[["Lat", "Lng"]]

locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))